//Common styles
@import "common.scss";
@import "cssGenerator.scss";

//Module specific styles
@import "modules/app.scss";
@import "modules/sidebar.scss";
@import "modules/canvas.scss";

@media screen and (max-width: 770px) {
  .app-container {
    flex-direction: column-reverse;
  }
  .canvas {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
