//Common styles
@import "common.scss";
@import "cssGenerator.scss";

//Module specific styles
@import "modules/app.scss";
@import "modules/sidebar.scss";
@import "modules/canvas.scss";

//Responsive styles
@media screen and (max-width: 770px) {
  .app-container {
    flex-direction: column-reverse;
  }
  .canvas {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items: baseline;
  }
  .sidebar-body {
    width: 55%;
  }
  .sidebar-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    width: 50px;
  }
}
